@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: rgba(203, 56, 55, 1);
}

h1 {
  font-weight: 900;
  font-size: 8em;
}

.subtitle {
  font-size: 2em;
}

input {
  color: black;
}

.jumbo {
  margin: 150px 0;
}

.title {
  margin: 75px 0;
}

.brand #logo img {
  position: relative;
  bottom: -20px;
  width: 20%;
  margin: 0 -5px 0 -2px;
}

.brand img {
  position: relative;
  bottom: -5px;
  width: 50px;
}

.sponsorships li {
  margin: 0px;
}

.sponsorships > ul {
  list-style-type: none;
}

.brand {
  font-weight: 900;
  font-size: 4em;
}

.brand a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.attribution {
  margin-top: 80px;
  font-size: .8em;
}

#logo img {
  position: relative;
  width: 300px;
  bottom: -35px;
  margin: 0 -10px 0 -5px;
}

.center {
  text-align: center;
}
